.image
{
    width: 400px;
    height: 200px;
    border: 2px;
    background-color:blanchedalmond;
    align-items: center;
}
.videocontain
{
    width: 400px;
    height: 200px;
    border: 2px;
    background-color:blanchedalmond;
    align-items: center;
}